.page-client-details {
  .main-content {
    position: relative;
    top: 65px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-bottom: 50px;

    .btn-delete {
      background-color: #de0400;
    }

    section.address {
      .google-maps {
        height: 100px;
        border-radius: 5px;
      }
    }
  }
}
