.button-card-container {
  position: relative;

  .button-card {
    height: 175px;
    width: 170px;
    background-color: #ff2d55;
    color: #fff;
    border-radius: 25px;
    padding: 10px 12px;
    padding-bottom: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.2s ease-in;
    border: 2px solid;

    &.yellow {
      background-color: #ffcc00;
    }

    &:hover {
      border: 2px solid #1b1b1b;
      color: #1b1b1b;
      cursor: pointer;
    }
  }

  .button-card .button-card-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 7px;

    .title {
      display: flex;
      align-items: center;
      gap: 6px;

      .icon {
        font-size: 22px;
      }

      p {
        font-size: 15px;
        font-weight: 600;
      }
    }
  }

  .button-card .button-card-bottom {
    p {
      display: flex;
      flex-direction: column;
      align-items: self-start;
      font-size: 15px;

      span {
        font-weight: 700;
        font-size: 30px;
      }
    }
  }

  .button-fab.mini {
    position: absolute;
    top: 10px;
    right: 10px;
  }
}
