@import "../../styles/variables.scss";

.detail-card-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 35px 16px;
  background-color: var(--accent-primary);
  color: var(--background-primary);
  border-radius: 25px;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;

  .detail-card-header__icon .icon {
    font-size: 60px;
  }

  .detail-card-header__title {
    p {
      font-weight: 600;
      font-size: 18px;
    }
  }
}
