.table-container {
  display: flex;
  flex-direction: column;
  width: 100%;

  .table-header,
  .table-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #dfdfdf;
    padding: 12px 0;
  }

  .table-header {
    font-weight: bold;
    font-size: 14px;
  }

  .table-body {
    display: flex;
    flex-direction: column;
  }

  .table-header-cell,
  .table-cell {
    flex: 1;
    text-align: left;
  }

  .table-row {
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;

    &.selected {
      border-color: #1d1d1d;
    }
  }

  span {
    font-size: 14px;
    font-weight: 700;
  }

  .title {
    font-size: 14px;
    font-weight: 600;
    color: #1d1d1d;
  }

  .subtitle {
    font-size: 12px;
    font-weight: 400;
    line-height: 14.4px;
    color: #959595;
  }
}
