.input-field {
  position: relative;
  &__control {
    font-size: 16px;
    width: 100%;
    padding: 15px 18px;
    border-radius: 75px;
    outline: none;
    border: 1.5px solid rgba(0, 0, 0, 0.23);

    &::placeholder {
      font-size: 16px;
      font-weight: 500;
    }

    &.error {
      border-color: #ffa1a1;
    }
  }

  .btn-icon {
    position: absolute;
    right: 16px;
    top: 0;
    bottom: 0;
    color: #969696;
    span {
      font-size: 16px;
    }
  }
}
