@import "../../styles/variables.scss";

.button {
  color: var(--background-primary);
  height: 55px;
  width: 100%;
  background-color: var(--accent-primary);
  font-weight: 600;
  font-size: 14px;
  font-family: inherit;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  user-select: none;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;

  &.loading {
    opacity: 0.5;
  }

  .skeleton-content {
    width: 60%;
    height: 16px;
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.3) 25%,
      rgba(255, 255, 255, 0.5) 50%,
      rgba(255, 255, 255, 0.3) 75%
    );
    background-size: 200% 100%;
    animation: shimmer 2s infinite;
    border-radius: 4px;
  }

  @keyframes shimmer {
    0% {
      background-position: -200% 0;
    }
    100% {
      background-position: 200% 0;
    }
  }

  &.bold {
    font-weight: 700;
    font-size: 18px;
  }

  &.disabled {
    background-color: var(--text-secondary);
    opacity: 0.5;
  }

  span {
    font-size: 20px;
  }
}

.button.rounded {
  border-radius: 100px;
}
