.page-products {
  .info-card {
    position: fixed;
    top: 80px;
    right: 16px;
    left: 16px;
  }

  .main-content {
    position: relative;
    top: 255px;
  }

  .button-fab.normal {
    position: fixed;
    right: 16px;
    bottom: 16px;
  }

  .products-table-list {
    .table-cell {
      &.name {
        flex: 3 1;
      }

      &.date {
        text-align: right;
      }
    }
  }
}
