@import '../../../styles/variables.scss';

.sign-in {
  &__header {
    height: 175px;
    background-color: $accent-color;
    border-radius: 35px;
    color: $primary-color;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
  }

  &__description {
    margin-bottom: 30px;
  }

  &__welcome {
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 1px;
    color: $accent-color;
    margin-bottom: 8px;
  }

  &__text {
    font-weight: 400;
    line-height: 21px;
    font-size: 16px;
    letter-spacing: 1px;
    opacity: 65%;
  }

  &__form-container {
    margin-bottom: 60px;
  }

  &__form {
    margin-bottom: 5px;

    form {
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin-bottom: 10px;
    }
  }

  &__reset-password {
    p {
      color: rgba(0, 0, 0, 0.55);
      font-size: 14px;
    }

    span {
      color: $accent-color;
    }
  }

  &__button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    p {
      color: rgba(0, 0, 0, 0.55);
      font-size: 15px;

      span {
        color: $accent-color;
      }
    }

    .button.rounded {
      transition: all 0.2s ease;
      &:hover {
        background-color: #1b1b1beb;
      }
      &.disabled {
        background-color: #1b1b1b45;
      }
    }
  }
}
