@import "../../styles/variables.scss";

.detail-card {
  background-color: var(--background-secondary);
  border-radius: 10px;
  border: 1px solid var(--border-primary);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 21px;
  transition:
    background-color 0.3s ease,
    border-color 0.3s ease;

  .detail-card-title {
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
      font-size: 14px;
      font-weight: 600;
      color: var(--text-primary);
    }

    .icon {
      font-size: 17px;
      color: var(--text-secondary);
    }
  }

  .detail-card-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  // Special styling for Created info cards
  &.detail-card--created {
    background-color: var(--background-tertiary);
  }
}
