.top-bar {
  height: 135px;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  padding: 16px;
  background-color: #fff;
}

.menu-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
  h3 {
    font-size: 24px;
    font-weight: 600;
  }
}

.container {
  margin-top: 140px;
}

.overview {
  display: flex;
  justify-content: space-between;
}
