.top-bar {
  margin-bottom: 30px;
}

.menu-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
  h3 {
    font-size: 24px;
    font-weight: 600;
  }
}

h4 {
  margin-bottom: 12px;
}

.overview {
  display: flex;
  justify-content: space-between;
}
