.page-clients {
  .overview .brief-card {
    position: fixed;
    top: 80px;
    right: 16px;
    left: 16px;
  }

  .main-content {
    position: relative;
    top: 270px;
    padding-bottom: 20px;

    .table-container {
      position: relative;
      top: 60px;
    }
  }

  .button-fab.normal {
    position: fixed;
    right: 16px;
    bottom: 16px;
  }
}
