.table-filter {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  position: fixed;
  left: 16px;
  right: 16px;
  z-index: 1;

  .actions {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .tab-group {
    background-color: #f2f2f2;
    border-radius: 6px;
    padding: 5px;
    width: 100%;
    display: flex;
    gap: 8px;

    .tab-item {
      background-color: #fff;
      border-radius: 5px;
      font-size: 11px;
      width: 60px;
      padding: 9px 10px;
    }
  }
}
