.top-bar {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 16px 8px;
  height: 75px;
  background-color: #fff;

  a {
    display: flex;
    align-items: center;
    text-decoration: none;
  }

  &.centered .title {
    justify-content: center;
  }
}

.top-bar .title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  h1 {
    font-size: 24px;
    font-weight: 600;
  }

  button {
    color: #1b1b1b;
  }
}
