@import "../../../styles/variables.scss";

.table-list {
  width: 100%;
  font-family: inherit;

  thead {
    font-family: inherit;

    tr {
      width: 100%;
      font-family: inherit;

      tr::nth-child(1) {
        width: auto;
        display: flex;
      }
    }
  }

  tbody {
    position: relative;
    top: 60px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    font-family: inherit;

    tr {
      display: flex;
      align-items: center;
      font-family: inherit;
      justify-content: space-between;
      border-bottom: 1px solid var(--border-primary);
      height: 55px;
      padding: 25px 0;
      transition: all 0.3s ease-in-out;
      &.selected {
        border-color: var(--accent-primary);
      }

      td {
        &:last-child {
          text-align: right;
        }

        p {
          font-size: 14px;
          font-weight: 600;
          color: var(--text-primary);
        }

        span {
          font-size: 12px;
          font-weight: 500;
          color: var(--text-secondary);
        }

        &.status {
          width: 5%;
        }
        &.name {
          width: 37%;
        }
        &.phone {
          width: 30%;
        }
        &.date {
          width: 25%;
        }
      }
    }
  }
}
