.tag-payment {
  width: 8px;
  height: 8px;
  border-radius: 50px;

  &.paid {
    background-color: #36cd2b;
  }

  &.pending {
    background-color: #f69300;
  }

  &.unpaid {
    background-color: #f13c3c;
  }
}
