.button-calendar {
  width: 100%;
  height: 175px;
  border-radius: 25px;
  background-color: #1b1b1b;
  margin-bottom: 15px;
  padding: 20px 10px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button-calendar .date {
  width: 40%;
  text-align: center;
  p {
    font-size: 22px;
    font-weight: 400;
  }
}

.date .today {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  margin-bottom: 4px;

  p {
    font-size: 32px;
    font-weight: 700;
  }

  span {
    font-size: 30px;
  }
}

.schedules {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
