@import "../../styles/variables.scss";

.search-results .title {
  color: var(--text-secondary);
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 10px;
}

.search-list__item {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding: 9px 0;
  cursor: pointer;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: var(--background-secondary);
    border-radius: 8px;
    padding: 9px 8px;
  }

  .icon {
    color: var(--text-primary);
    font-size: 22px;
  }

  .text-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
      font-size: 17px;
      font-weight: 500;
      color: var(--text-primary);
    }

    span {
      font-size: 14px;
      color: var(--text-secondary);
    }
  }
}
