.page-calendar {
  .main-content {
    margin-top: 75px;

    .MuiDateCalendar-root {
      color: #fff;
      background-color: #1d1d1d;
      border-radius: 20px;
      width: auto;
      margin-bottom: 20px;
      position: fixed;
      left: 16px;
      right: 16px;
      top: 70px;

      .MuiDayCalendar-header,
      .MuiDayCalendar-weekContainer {
        justify-content: space-evenly;
      }

      .MuiPickersArrowSwitcher-button,
      .MuiDayCalendar-weekContainer,
      .MuiDayCalendar-weekDayLabel,
      .MuiPickersDay-root,
      .MuiPickersDay-root:not(.Mui-selected) {
        color: #ffffff;
      }

      .MuiPickersDay-root:not(.Mui-selected) {
        border-color: #ffffff;
      }

      .MuiPickersDay-root.Mui-selected {
        background-color: #4f4f4f;
      }

      .MuiPickersDay-root {
        color: #ffffff99;
      }
    }
  }

  .schedules-list {
    margin-top: 430px;

    .header {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      // position: fixed;

      .text {
        gap: 4px;
        display: flex;
        flex-direction: column;
        h2 {
          font-size: 15px;
          font-weight: 600;
        }

        p {
          font-size: 12px;
          color: #1d1d1ddb;
        }
      }

      .actions {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 7px;
      }
    }

    .schedules {
      display: flex;
      flex-direction: column;
      gap: 18px;
      position: relative;
      top: 20px;
    }
  }

  .button-fab.normal {
    position: fixed;
    right: 16px;
    bottom: 16px;
  }
}
