@import "../../styles/variables.scss";

.detail-card-item {
  display: flex;
  flex-direction: column;
  gap: 3px;

  span {
    font-weight: 600;
    font-size: 12px;
    color: var(--text-secondary);
  }

  p {
    font-size: 16px;
    color: var(--text-primary);
  }
}
