.google-maps {
  height: 100%;
  width: 100%;
  overflow: hidden;
  border-radius: 10px;

  .gmnoprint {
    display: none;
  }

  button.gm-fullscreen-control {
    top: unset !important;
    bottom: 0;
    border-radius: 35px !important;
    background-color: #ffffff !important;
  }
}
