@import "../../styles/variables.scss";

.button-fab {
  background-color: var(--accent-primary);
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--background-primary);
  box-shadow: 0px 4px 15px 3px var(--shadow-heavy);
  transition: 0.5s all ease;
  &.mini {
    width: 35px;
    height: 35px;
    span {
      font-size: 18px;
    }
  }

  &.normal {
    width: 60px;
    height: 60px;
    span {
      font-size: 28px;
    }
  }

  &:hover {
    cursor: pointer;
    background-color: var(--accent-secondary);
    box-shadow: 0px 4px 15px -10px var(--shadow-heavy);
  }
}
