@import "../../styles/variables.scss";

.brief-card {
  height: 190px;
  padding: 24px 16px;
  border-radius: 20px;
  color: var(--background-primary);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  position: relative;
  z-index: 1;
  &.clients {
    background-color: var(--background-brief-card-clients);
  }

  &.products {
    background-color: var(--background-brief-card-products);
  }
}
