@import "../../styles/variables.scss";

.btn-icon {
  display: flex;
  align-items: center;
  justify-content: center;

  .icon {
    color: var(--text-primary);
    transition: color 0.3s ease;
  }
}
